@using MvcOnlineTicariOtomasyon.Models.sınıf
@model List<SatışHareketi>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personl Adı:@ViewBag.dp</li>
</ol>
<table class="table table-condensed">
    <tr>

        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {


        <tr>

            <td>@x.ürünler.UrunAd</td>
            <td>@x.cariler.CariAd @x.cariler.CariSoyad</td>
            <td>@x.Fiyat ₺</td>
            <td>@x.Adet</td>
            <td>@x.ToplamFiyat</td>
            <td>@x.Tarih</td>
            <td><a href="#" class="btn btn-primary">Yazdır</a></td>
        </tr>
    }
</table>

