@using MvcOnlineTicariOtomasyon.Models.sınıf
@model List<Ürünler>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ürünler</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün Ad</th>
                            <th>Marka</th>
                            <th>Kategori</th>
                            <th>Stok</th>
                            <th>Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {


                        <tr>
                            <td>@x.UrunId</td>
                            <td>@x.UrunAd</td>
                            <td>@x.Marka</td>
                            <td><span class="tag tag-success">@x.kategori.KategoriAd</span></td>
                            <td>@x.Stok</td>
                            <td>@x.SatışFiyat</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>